<?php
/**
 *  CakePHP Highcharts Plugin
 * 
 * 	Copyright (C) 2015 Kurn La Montagne / destinydriven
 * 	<https://github.com/destinydriven>
 * 
 * 	Multi-licensed under:
 * 		MPL <http://www.mozilla.org/MPL/MPL-1.1.html>
 * 		LGPL <http://www.gnu.org/licenses/lgpl.html>
 * 		GPL <http://www.gnu.org/licenses/gpl.html>
 * 		Apache License, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0.html>
 */
?>
<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
$cakeDescription = 'CakePHP Highcharts Plugin: The Ultimate Charting Plugin';
?>
<!DOCTYPE html>
<html>
        <head>
                <?= $this->Html->charset() ?>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>
                        <?= $cakeDescription ?>:
                        <?= $this->fetch('title') ?>
                </title>
                <?= $this->Html->meta('icon') ?>

                <?= $this->Html->css('base.css') ?>
                <?= $this->Html->css('cake.css') ?>

                <?= $this->fetch('meta') ?>
                <?= $this->fetch('css') ?>
                <?= $this->fetch('script') ?>
        </head>
        <body>
                <header>
                        <div class="header-title">
                                <span><?= $this->fetch('title') ?></span>
                        </div>
                        <div class="header-help">
                                <span><?php echo $this->Html->link('View the Demo', array('plugin' => 'highcharts', 'controller' => 'highcharts_demo', 'action' => 'index')); ?></span>
                                <span><?php echo $this->Html->link('Get the code on Bitbucket', 'https://bitbucket.org/destinydriven/cakephp3-highcharts'); ?></span>
                        </div>
                </header>
                <div id="container">

                        <div id="content">
                                <?= $this->Flash->render() ?>

                                <div class="row">
                                        <?= $this->fetch('content') ?>
                                </div>
                        </div>
                        <footer>
                        </footer>
                </div>
        </body>
</html>